
 .filter {
    margin-left: 75%;
    margin-top:25px;
    
}

.icon-button {
   float: right;
   margin-left: 15px;
   display: inline-block;
   width: 20px;
   height: 20px;
   background: transparent;
   border: 0px;
}

.edit-button{
   background-image: url("../images/edit.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.trash-button {
   background-image: url("../images/trash-alt.svg");
   background-repeat: no-repeat;
   background-size: contain;
}


.newCalculationButton{
   background: #1dd1a1;
   font-size:  15px;
   color:#fff;
   border-radius:5px;
   position:fixed;
   right:8%;
   bottom:14%;
   height:50px;
   width: 175px;
   box-shadow: 0 0 16px rgba(0,0,0,0.17);
}

.newProductButton {
   background:#576574;
   font-size:  15px;
   color:#fff;
   border-radius:5px;
   position:fixed;
   right:8%;
   bottom:7%;
   height:50px;
   width: 175px
   
}
